<nav class="navbar navbar-inverse">
  <button id="navButt" type="button"><span class="glyphicon glyphicon-menu-hamburger"{{action 'homie'}}></span></button>
  <ul id="navy">
    <li><button id="custButt" {{action 'linking'}}><span class="glyphicon glyphicon-search"></span></button></li>
    <li><a href="https://twitter.com/"><img src="glyphicons-social/png/glyphicons-social-32-twitter.png"></a></li>
    <li><a href="https://www.facebook.com/"><img src="glyphicons-social/png/glyphicons-social-31-facebook.png"></a></li>
    <li><a href="https://www.instagram.com/"><img src="glyphicons-social/png/glyphicons-social-33-instagram.png"></a></li>
      <li><a href="https://www.xing.com/"><img src="glyphicons-social/png/glyphicons-social-13-xing.png"></a></li>
  </ul>
</nav>
